
__pycache__/
.ipynb_checkpoints/
plots/
other/
circles/
jl/

docs/_site/

scripts/plot_contours.py
scripts/double.py

shells_legacy.py
sort.py
phi_numba.py
bkg.py
rho/
output*/

*.ipynb
.DS_Store
o2*/
dels/

example*
